In [2]:
import pandas as pd
import numpy as np

filename = "Beach_Attributes.csv"

# Columns we are intrested in the dataset
fields = ['Beach Name','County','BeachLength (Mi)','Ownership Type','Accessibility Type','Special Note','Link Note']

# Reads in the csv as a dataframe
df = pd.read_csv(filename, usecols = fields)

df.head()

,Beach Name,County,BeachLength (Mi),Ownership Type,Accessibility Type,Special Note,Link Note
0,333 Commercial Street,BARNSTABLE,0.085,Municipal,2,NaN,NaN
1,451 Commercial Street,BARNSTABLE,0.057,Municipal,2,NaN,NaN
2,593 Commercial Street,BARNSTABLE,0.022,Municipal,2,NaN,NaN
3,637 Commercial Street,BARNSTABLE,0.232,Municipal,2,NaN,NaN
4,Andrew Harding Lane Beach,BARNSTABLE,0.046,Municipal,1,permit,NaN

In [4]:
df.groupby('Accessibility Type').size()

Accessibility Type
0                 175
1                 211
2                  31
No link             1
page not found      1
dtype: int64

In [5]:
df.groupby('Special Note').size()

Special Note
homeowners         1
parking           70
parking            2
parking permit     1
permit            81
permit/parking    47
reservation        7
dtype: int64

In [ ]:
total_num_beaches = df.shape[0]
permit_beaches = len(df[df['Special Note']=='permit'])
parking_beaches = len(df[df['Special Note']=='parking'])
permit_parking_beaches = len(df[df['Special Note']=='permit/parking'])